REMOTE_WORKER_PORT=60051
REMOTE_WORKER_HOST=0.0.0.0
REMOTE_WORKER_URL=http://127.0.0.1:60051
REMOTE_WORKER_INGEST_API_TOKEN=
CONTROL_PLANE_URL=http://127.0.0.1:7800
CONTROL_PLANE_API_TOKEN=
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility
